<mat-toolbar class="mat-toolbar topbar mat-toolbar-single-row ">
  <button mat-icon-button
    class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
    <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span>
    <i-tabler name="menu-2" class="icon-20 d-flex">
      <svg xmlsns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="24"
        height="24" class="icon-20 d-flex"></svg>
    </i-tabler>
    <span class="mat-focus-indicator"></span>
    <span class="mat-mdc-button-touch-target"></span>
    <span class="mat-ripple mat-mdc-button-ripple"></span>
  </button>

  <button mat-icon-button
    class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
    <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span>
    <i-tabler name="search" class="icon-20 d-flex">
      <svg xmlsns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="24"
        height="24" class="icon-20 d-flex"></svg>
    </i-tabler>
    <span class="mat-focus-indicator"></span>
    <span class="mat-mdc-button-touch-target"></span>
    <span class="mat-ripple mat-mdc-button-ripple"></span>
  </button>

  <div class="d-none d-lg-none">
    <button mat-button="" aria-label="Notifications"
      class="mat-mdc-menu-trigger mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"
      mat-ripple-loader-class-name="mat-mdc-button-ripple" aria-haspopup="menu" aria-expanded="false"><span
        class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span class="mdc-button__label">
        <div class="d-flex align-items-center"> Apps
          <i-tabler name="chevron-down" class="icon-16 m-l-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M6 9l6 6l6 -6"></path>
            </svg>
          </i-tabler>
        </div>
      </span><span class="mat-focus-indicator"></span>
      <span class="mat-mdc-button-touch-target"></span>
      <span class="mat-ripple mat-mdc-button-ripple"></span>
    </button>

    <a mat-button="" mat-ripple-loader-class-name="mat-mdc-button-ripple"
      class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base" href="/apps/chat">
      <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
      <span class="mdc-button__label">Chat</span>
      <span class="mat-focus-indicator"></span>
      <span class="mat-mdc-button-touch-target"></span>
      <span class="mat-ripple mat-mdc-button-ripple"></span>
    </a>
  </div>

  <span class="flex-1-auto"></span>

</mat-toolbar>